# Sanity CMS Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=mlkhfxw8
NEXT_PUBLIC_SANITY_DATASET=production

# Email Configuration (SMTP - Home.pl)
# SMTP server: serwer2657383.home.pl
# Port: 465 (SSL)
SMTP_HOST=serwer2657383.home.pl
SMTP_PORT=465
EMAIL_USER=kontakt@montebiuro.pl
EMAIL_PASS=HASLO_DO_UZUPELNIENIA

# Email addresses
OFFICE_EMAIL=kontakt@montebiuro.pl
FROM_EMAIL=kontakt@montebiuro.pl
FROM_NAME=Monte Biuro Rachunkowe
